body {
    background: #555555;
    display: flex;
    justify-content: center;
}

#andre {
    display: table;
}

#andre > img {
    display: table-cell;
}

#chin {
    transform-origin: top right;
}